[submodule "Bachelor-File-Converter"]
	path = Bachelor-File-Converter
	url = https://github.com/larsmhaugland/file-converter
[submodule "Unity-TowerDefense-Game"]
	path = Unity-TowerDefense-Game
	url = https://github.com/sunpile01/Unity-TowerDefense-Game
[submodule "Rust-Interpreter"]
	path = Rust-Interpreter
	url = https://github.com/sunpile01/Rust-Interpreter
[submodule "Haskell-GO-Game"]
	path = Haskell-GO-Game
	url = https://github.com/sunpile01/Haskell-GO-Game
[submodule "Mobile-SpaceGame"]
	path = Mobile-SpaceGame
	url = https://github.com/sunpile01/MobileGame-SpaceShip
[submodule "OpenGLC++SimplifiedChess"]
	path = OpenGLC++SimplifiedChess
	url = https://github.com/sunpile01/Graphics-OpenGL-SImplifiedChess
[submodule "Fullstack-MealPlanner"]
	path = Fullstack-MealPlanner
	url = https://github.com/sunpile01/Meal-Planner-Fullstack
